@charset "utf-8";
body {
  font-size: small;
  font-family: Arial;
  line-height: 1.4; }

input, select {
  margin: 0;
  padding: 0;
  font-size: 1em; }

table {
  width: 100%; }

thead {
  background-color: #eee; }

th, td {
  padding: .5em 1em; }

._conditional {
  /* 컨텐츠 양에 따라 노출될수도 그렇지 않을수도 있다 */
  position: relative;
  padding: 0 1em;
  border: 1px dotted red;
  background-color: #FBF8EF; }
  ._conditional::before {
    content: "conditional";
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    color: red; }

.postcodeSearch {
  padding: .5em 1em;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc; }
  .postcodeSearch .inputTextBox .rowh {
    display: block; }
  .postcodeSearch .results caption {
    display: none;
    text-align: left;
    caption-side: bottom; }
  .postcodeSearch .results colgroup .id {
    width: 50px; }
  .postcodeSearch .results colgroup .postcode {
    width: 80px; }

.paging-nav a {
  display: inline-block;
  padding: .4em .8em;
  border: 1px solid #ddd;
  cursor: pointer; }
  .paging-nav a:hover {
    border-color: #333; }
.paging-nav .on {
  font-weight: bold;
  color: green;
  background-color: #eee;
  border-color: #333; }
