@charset "utf-8"; 

/* dev reset CSS */
body {
	font-size: small; 
	font-family: Arial;
	line-height: 1.4; 
}


input, select {
	margin: 0; 
	padding: 0; 
	font-size: 1em; 
	vertical-align: middle; 
}


.postcodeSearchForm {}
.postcodeSearchForm fieldset {}
.postcodeSearchForm legend {}
.postcodeSearchForm .row { display: block; }
.postcodeSearchForm .rowh { display: inline-block; width: 80px; }



.postcodeResults {}
.postcodeResults colgroup .order {}
.postcodeResults colgroup .postcode {}
.postcodeResults colgroup .address {}

.postcodeResults-nav {}
.postcodeResults-nav ul { padding-left: 0; text-align: center; }
.postcodeResults-nav li { display: inline; }