@charset "utf-8";
body {
  font-size: small;
  font-family: Arial;
  line-height: 1.4; }

input, select {
  margin: 0;
  padding: 0;
  font-size: 1em; }

thead {
  background-color: #eee; }

th, td {
  padding: .5em 1em; }

._conditional {
  /* 컨텐츠 양에 따라 노출될수도 그렇지 않을수도 있다 */
  position: relative;
  padding: 0 1em;
  border: 1px dotted red; }
  ._conditional::before {
    content: "conditional";
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    color: red; }

.postcodeSearch {
  padding: .5em 1em;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc; }
  .postcodeSearch .form .row {
    display: block; }
  .postcodeSearch .form .rowh {
    display: inline-block;
    width: 80px; }
  .postcodeSearch .results caption {
    text-align: left; }
  .postcodeSearch .paging-nav ul {
    padding-left: 0; }
  .postcodeSearch .paging-nav li {
    display: inline; }
